<article class="copy">
  <!-- 著作権表示 削除しないでください -->
  <!-- GazouBBS v3.0 --><!-- ふたば改0.8 --><!-- POTI-board -->
  <p>
    <a href="https://poti-k.info/" target="_top" title="POTI-board改二 <% echo(verlot) %>">POTI-board改二 <% echo(ver) %></a>
    Web Style by <a href="https://poti-k.info/" target="_top" title="futabize <% echo(tver) %>">futabize</a>
  </p>
  <p>
    OriginalScript -
    <a href="http://www.punyu.net/" target="_top" title="POTI-board (by PunyuNet)">POTI-board</a>
    <a href="http://www.2chan.net/" target="_top" title="futaba.php v0.8 lot.031015 (by futaba)">futaba.php</a>
    (<a href="http://php.loglog.jp/" target="_top" title="gazou.php v3.0 (by Let's PHP!)">gazou.php</a> custom)
  </p>
  <% def(paint) %>
  <p>
    OekakiApplet - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="noopener noreferrer" title="by しぃちゃん">Shi-Painter</a>
  </p>
  <% /def %>
  <p>
    UseFunction -
    <a href="http://skinny.sx68.net/" target="_top" title="Skinny.php (by Kuasuki)">Skinny.php</a>
    DynamicPalette <!-- http://wondercatstudio.com/ -->
    <a href="https://github.com/funige/neo/" target="_top" title="by ImageCanvas">PaintBBS NEO</a>
  </p>
</article>
